/* Accent base colors, sourced from the palette in tailwind.config.js */
:root {
  --accent-about: theme("colors.pastel-lavender");
  --accent-work: theme("colors.enchanted-lavender");
  --accent-services: theme("colors.wondrous-wisteria");
  --accent-essays: theme("colors.lichen");
  --accent-links: theme("colors.honey-bee");
  --accent-contact: theme("colors.chai-latte");

  --accent-error: theme("colors.chewing-gum");
  --accent-resume: theme("colors.wondrous-wisteria");
}

/**
 * About
 */

.bg-accent-about {
  background-color: var(--accent-about);
}

.decoration-accent-about {
  text-decoration-color: var(--accent-about);
}

.decoration-accent-about p a:not(.inline-block):before,
.decoration-accent-about ul a:not(.inline-block):before,
.decoration-accent-about ol a:not(.inline-block):before,
.decoration-accent-about a em:before,
.decoration-accent-about mark {
  background-color: var(--accent-about);
}

.decoration-accent-about b,
.text-accent-about {
  color: var(--accent-about);
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-about {
    background-color: hsl(from var(--accent-about) h s calc(l - 45%));
  }

  .text-accent-about {
    color: hsl(from var(--accent-about) h s calc(l - 45%));
  }
}

/**
 * Contact
 */

.bg-accent-contact {
  background-color: var(--accent-contact);
}

.decoration-accent-contact {
  text-decoration-color: var(--accent-contact);
}

.decoration-accent-contact p a:not(.inline-block):before,
.decoration-accent-contact ul a:not(.inline-block):before,
.decoration-accent-contact ol a:not(.inline-block):before,
.decoration-accent-contact a em:before,
.decoration-accent-contact mark {
  background-color: var(--accent-contact);
}

.decoration-accent-contact b,
.text-accent-contact {
  color: var(--accent-contact);
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-contact {
    background-color: hsl(from var(--accent-contact) h s calc(l - 45%));
  }

  .text-accent-contact {
    color: hsl(from var(--accent-contact) h s calc(l - 45%));
  }
}

/**
 * Error
 */

.bg-accent-error {
  background-color: var(--accent-error);
}

.decoration-accent-error {
  text-decoration-color: var(--accent-error);
}

.decoration-accent-error p a:not(.inline-block):before,
.decoration-accent-error ul a:not(.inline-block):before,
.decoration-accent-error ol a:not(.inline-block):before,
.decoration-accent-error a em:before,
.decoration-accent-error mark {
  background-color: var(--accent-error);
}

.decoration-accent-error b,
.text-accent-error {
  color: var(--accent-error);
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-error {
    background-color: hsl(from var(--accent-error) h s calc(l - 45%));
  }

  .text-accent-error {
    color: hsl(from var(--accent-error) h s calc(l - 45%));
  }
}

/**
 * Essays
 */

.bg-accent-essays {
  background-color: var(--accent-essays);
}

.decoration-accent-essays {
  text-decoration-color: var(--accent-essays);
}

.decoration-accent-essays p a:not(.inline-block):before,
.decoration-accent-essays ul a:not(.inline-block):before,
.decoration-accent-essays ol a:not(.inline-block):before,
.decoration-accent-essays a em:before,
.decoration-accent-essays mark {
  background-color: var(--accent-essays);
}

.decoration-accent-essays b,
.text-accent-essays {
  color: var(--accent-essays);
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-essays {
    background-color: hsl(from var(--accent-essays) h s calc(l - 45%));
  }

  .text-accent-essays {
    color: hsl(from var(--accent-essays) h s calc(l - 45%));
  }
}

/**
 * Links
 */

.bg-accent-links {
  background-color: var(--accent-links);
}

.decoration-accent-links {
  text-decoration-color: var(--accent-links);
}

.decoration-accent-links p a:not(.inline-block):before,
.decoration-accent-links ul a:not(.inline-block):before,
.decoration-accent-links ol a:not(.inline-block):before,
.decoration-accent-links a em:before,
.decoration-accent-links mark {
  background-color: var(--accent-links);
}

.decoration-accent-links b,
.text-accent-links {
  color: var(--accent-links);
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-links {
    background-color: hsl(from var(--accent-links) h s calc(l - 45%));
  }

  .text-accent-links {
    color: hsl(from var(--accent-links) h s calc(l - 45%));
  }
}

/**
 * Resume
 */

.bg-accent-resume {
  background-color: var(--accent-resume);
}

.decoration-accent-resume {
  text-decoration-color: var(--accent-resume);
}

.decoration-accent-resume p a:not(.inline-block):before,
.decoration-accent-resume ul a:not(.inline-block):before,
.decoration-accent-resume ol a:not(.inline-block):before,
.decoration-accent-resume a em:before,
.decoration-accent-resume mark {
  background-color: var(--accent-resume);
}

.decoration-accent-resume b,
.text-accent-resume {
  color: var(--accent-resume);
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-resume {
    background-color: hsl(from var(--accent-resume) h s calc(l - 45%));
  }

  .text-accent-resume {
    color: hsl(from var(--accent-resume) h s calc(l - 45%));
  }
}

/**
 * Services
 */

.bg-accent-services {
  background-color: var(--accent-services);
}

.decoration-accent-services {
  text-decoration-color: var(--accent-services);
}

.decoration-accent-services p a:not(.inline-block):before,
.decoration-accent-services ul a:not(.inline-block):before,
.decoration-accent-services ol a:not(.inline-block):before,
.decoration-accent-services a em:before,
.decoration-accent-services mark {
  background-color: var(--accent-services);
}

.decoration-accent-services b,
.text-accent-services {
  color: var(--accent-services);
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-services {
    background-color: hsl(from var(--accent-services) h s calc(l - 45%));
  }

  .text-accent-services {
    color: hsl(from var(--accent-services) h s calc(l - 45%));
  }
}

/**
 * Work
 */

.bg-accent-work {
  background-color: var(--accent-work);
}

.decoration-accent-work {
  text-decoration-color: var(--accent-work);
}

.decoration-accent-work p a:not(.inline-block):before,
.decoration-accent-work ul a:not(.inline-block):before,
.decoration-accent-work ol a:not(.inline-block):before,
.decoration-accent-work a em:before,
.decoration-accent-work mark {
  background-color: var(--accent-work);
}

.decoration-accent-work b,
.text-accent-work {
  color: var(--accent-work);
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-work {
    background-color: hsl(from var(--accent-work) h s calc(l - 45%));
  }

  .text-accent-work {
    color: hsl(from var(--accent-work) h s calc(l - 45%));
  }
}
