/**
 * About
 */

.bg-accent-about {
  @apply bg-lichen;
}

.decoration-accent-about {
  @apply decoration-lichen;
}

.decoration-accent-about p a:not(.inline-block):before,
.decoration-accent-about ul a:not(.inline-block):before,
.decoration-accent-about ol a:not(.inline-block):before,
.decoration-accent-about a em:before {
  @apply bg-lichen;
}

.text-accent-about {
  @apply text-lichen;
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-about {
    background-color: #2e4e38;
  }

  .text-accent-about {
    color: #2e4e38;
  }
}

/**
 * Error
 */

.bg-accent-error {
  @apply bg-chewing-gum;
}

.decoration-accent-error {
  @apply decoration-chewing-gum;
}

.decoration-accent-error p a:not(.inline-block):before,
.decoration-accent-error ul a:not(.inline-block):before,
.decoration-accent-error ol a:not(.inline-block):before,
.decoration-accent-error a em:before {
  @apply bg-chewing-gum;
}

.text-accent-error {
  @apply text-chewing-gum;
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-error {
    background-color: #902520;
  }

  .text-accent-error {
    color: #902520;
  }
}

/**
 * Essays
 */

.bg-accent-essays {
  @apply bg-enchanted-lavender;
}

.decoration-accent-essays {
  @apply decoration-enchanted-lavender;
}

.decoration-accent-essays p a:not(.inline-block):before,
.decoration-accent-essays ul a:not(.inline-block):before,
.decoration-accent-essays ol a:not(.inline-block):before,
.decoration-accent-essays a em:before {
  @apply bg-enchanted-lavender;
}

.text-accent-essays {
  @apply text-enchanted-lavender;
}

.decoration-accent-essays h2 {
  @apply text-enchanted-lavender;
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-essays {
    background-color: #4f248a;
  }

  .text-accent-essays {
    color: #4f248a;
  }
}

/**
 * Links
 */

.bg-accent-links {
  @apply bg-honey-bee;
}

.decoration-accent-links {
  @apply decoration-honey-bee;
}

.decoration-accent-links p a:not(.inline-block):before,
.decoration-accent-links ul a:not(.inline-block):before,
.decoration-accent-links ol a:not(.inline-block):before,
.decoration-accent-links a em:before {
  @apply bg-honey-bee;
}

.text-accent-links {
  @apply text-honey-bee;
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-links {
    background-color: #b37706;
  }

  .text-accent-links {
    color: #b37706;
  }
}

/**
 * Notes
 */

.bg-accent-notes {
  @apply bg-wondrous-wisteria;
}

.decoration-accent-notes {
  @apply decoration-wondrous-wisteria;
}

.decoration-accent-notes p a:not(.inline-block):before,
.decoration-accent-notes ul a:not(.inline-block):before,
.decoration-accent-notes ol a:not(.inline-block):before,
.decoration-accent-notes a em:before {
  @apply bg-wondrous-wisteria;
}

.text-accent-notes {
  @apply text-wondrous-wisteria;
}

.decoration-accent-notes h2 {
  @apply text-wondrous-wisteria;
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-notes {
    background-color: #141f9c;
  }

  .text-accent-notes {
    color: #141f9c;
  }
}

/**
 * Work
 */

.bg-accent-work {
  @apply bg-chai-latte;
}

.decoration-accent-work {
  @apply decoration-chai-latte;
}

.decoration-accent-work p a:not(.inline-block):before,
.decoration-accent-work ul a:not(.inline-block):before,
.decoration-accent-work ol a:not(.inline-block):before,
.decoration-accent-work a em:before {
  @apply bg-chai-latte;
}

.text-accent-work {
  @apply text-chai-latte;
}

/* High contrast */
@media (prefers-contrast: more) and (prefers-color-scheme: light) {
  .bg-accent-work {
    background-color: #b44d02;
  }

  .text-accent-work {
    color: #b44d02;
  }
}
