@font-face {
  font-family: "Assistant";
  src: url("./fonts/assistant-variable_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Caveat";
  font-style: normal;
  src: url("./fonts/caveat-variable_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Gabarito";
  src: url("./fonts/gabarito-variable_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Emoji";
  src:
    local("Noto Emoji"),
    url("./fonts/noto-emoji-variable_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Color Emoji";
  src:
    local("Noto Color Emoji"),
    url("./fonts/noto-emoji-color.woff2") format("woff2");
}
