@font-face {
  font-family: "Assistant";
  src:
    local("Assistant"),
    url("./fonts/assistant-variable_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Emoji";
  src:
    local("Noto Emoji"),
    url("./fonts/noto-emoji-variable_wght.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Color Emoji";
  src:
    local("Noto Color Emoji"),
    url("./fonts/noto-emoji-color.woff2") format("woff2");
}
