@charset "UTF-8";

@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-morning-snow font-sans text-iridescent;
  text-rendering: geometricPrecision;
}


/**
 * Basics
 */
main h2 {
  @apply font-bold font-serif mb-6 text-3xl;
}

p {
  @apply leading-relaxed mb-5 text-lg;
}

p a {
  @apply decoration-2 decoration-lichen underline underline-offset-4;
}

.font-serif {
  @apply tracking-tight;
}

.lh-crop::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-top: -0.75em;
}

.mark::after {
  bottom: 0.225em;
  content: "";
  display: block;
  height: 0.35em;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}

.mark.dreamy-candy-forest::after {
  @apply bg-dreamy-candy-forest;
}

.mark.girl-power::after {
  @apply bg-girl-power;
}

.mark.chewing-gum::after {
  @apply bg-chewing-gum;
}

.mark.baba-ganoush::after {
  @apply bg-baba-ganoush;
}

.mark.larb-gai::after {
  @apply bg-larb-gai;
}
