@charset "UTF-8";

@import "./fonts.css";
@import "./accents.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-french-porcelain text-carbon-fiber font-sans;
  @apply dark:bg-carbon-fiber dark:text-french-porcelain;
  text-rendering: geometricPrecision;
}

/**
 * Basics
 */
main h1 {
  @apply text-carbon-fiber font-display mb-10 mt-[-0.125em] text-7xl font-black leading-none text-opacity-70;
  @apply dark:text-silver-bird dark:text-opacity-70;
  background-image: url("images/crossline-dots.webp");
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: #000; */
}

main h1 a {
  @apply text-carbon-fiber text-opacity-40;
  @apply dark:text-silver-bird dark:text-opacity-90;
}

main h1 strong {
  font-weight: inherit;
}

main h2 {
  @apply mb-8 mt-20 font-serif text-4xl font-bold opacity-90;
}

main h3 {
  @apply mb-5 mt-8 font-serif text-2xl font-semibold opacity-90;
}

blockquote {
  @apply border-empress border-l-4 border-opacity-30 pl-3;
  @apply dark:border-silver-bird dark:border-opacity-30;
}

blockquote,
p,
ul,
ol {
  @apply mb-6 max-w-2xl text-xl leading-relaxed;
}

p a,
ul a,
ol a {
  @apply underline decoration-2 underline-offset-4;
}

ul li,
ol li {
  @apply mb-3;
}

.font-serif {
  @apply tracking-tight;
}

.lh-crop::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  margin-top: -0.75em;
}

.mark {
  bottom: 0.225em;
  content: "";
  display: block;
  height: 0.35em;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
