@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-stone-700;
  font-family: "Assistant", sans-serif;
}

h2 {
  @apply font-light mb-5 mt-10;
}

p a {
  @apply font-semibold underline decoration-2 underline-offset-2;
}

.projects li {
  @apply mt-5;
}

.projects li a {
  @apply inline-block font-bold mb-3 text-xl underline decoration-4 underline-offset-4;
}

.emoji {
  font-family: "Noto Emoji", sans-serif;
}

.emoji-color {
  font-family: "Noto Color Emoji", sans-serif;
}
